<h1>保戶關係查詢</h1>
<hr>
<section>
  <div style="background-color: cadetblue;padding: 20px;border: 2px solid;">
    <form [formGroup]="validateForm">
      <p>保戶編號</p>
      <input type="text" formControlName="code">
      <button (click)="searchPolicyholder()">查詢</button>
    </form>
  </div>
</section>
<h1>關係圖</h1>
<section class="relation">

  <div class="tree" *ngIf="policyholder">
    <app-tree [policyholder]="policyholder" [mainCode]="policyholder.code" [level]="0"></app-tree>
  </div>
</section>
